<div>
    <div>
        <p><strong>QUER GANHAR R$20</strong> NA SUA PRIMEIRA COMPRA?</p>
        <p class="font-light">Cadastre seu e-mail e responda a nossa pesquisa para desbloquear o desconto!</p>
        <p class="font-light">Válido para compras acima de R$230.</p><p class="font-light underline">Veja as regras.</p>
    </div>

    <div>
        <input type="text" placeholder="Digite seu e-mail" class="border">
        <button>Feminino</button>
        <button>Masculino</button>
    </div>
</div>
