<div>
    <img src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/1adaa43566a8e__destaque_desk_1920x550.jpg">

    <ul class="text-white absolute top-64 right-0 left-[40rem]">
        <li><a class="text-[1.3rem] uppercase hover:underline cursor-pointer">Feminino</a></li>
        <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Bolsas</a></li>
        <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Sandálias</a></li>
        <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Blusas</a></li>
        <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Vestidos</a></li>
        <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Tênis</a></li>
        <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Calça Jeans</a></li>
        <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Sapatilhas</a></li>
        <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Lingeries</a></li>
    </ul>
    <div class="text-right">

        <ul class="text-white absolute top-64 right-[38rem]">
            <li><a class="text-[1.3rem] uppercase hover:underline cursor-pointer">Masculino</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Camisetas</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Tênis</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Polos</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Sapatênis</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Jeans</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Underwear</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Acessórios</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Perfumes</a></li>
        </ul>
    </div>

</div>

<div class="flex gap-5 justify-center items-center py-5">
    <div>
        <img src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/1b62ec71d17a3__destaque_desk2_374x400-1.jpg">
        <ul class="text-white absolute top-[49rem] left-[24.5rem]">
            <li><a class="text-[1.3rem] uppercase hover:underline cursor-pointer">Infantil</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Calçados</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Roupas</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Acessórios</a></li>
        </ul>
    </div>
    <div>
        <img src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/154c74325a858__destaque_desk2_374x400-2.jpg">
        <ul class="text-white absolute top-[49rem] left-[49rem]">
            <li><a class="text-[1.3rem] uppercase hover:underline cursor-pointer">Esporte</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Feminio</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Masculino</a></li>
        </ul>
    </div>
    <div>
        <img src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/1cd971ecc8c9d__destaque_desk2_374x400.jpg">
        <ul class="text-white absolute top-[49rem] left-[74rem]">
            <li><a class="text-[1.3rem] uppercase hover:underline cursor-pointer">Casa</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Quarto</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Sala</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Cozinha</a></li>
            <li><a class="text-[0.8rem] uppercase hover:underline cursor-pointer">Banheiro</a></li>
        </ul>
    </div>
</div>

<div class="max-w-[73rem] px-1 py-3 mx-auto bg-[#F6F6F6]">
    <ul class="flex justify-center items-center gap-[4.4rem]">
        <li>
            <a class="flex justify-center items-center gap-1.5 text-sm font-light">
                <img class="w-5" src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/1f174f3c786bf__truck.png">
                Frete <br> grátis*
            </a>
        </li>
        <li>
            <a class="flex justify-center items-center gap-1.5 text-sm font-light">
                <img class="w-5" src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/accd689fac38__exchange.png">
                Troca <br> grátis
            </a>
        </li>
        <li>
            <a class="flex justify-center items-center gap-1.5 text-sm font-light">
                <img class="w-5" src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/198053f540c3d__store.png">
                Coleta <br> para trocas
            </a>
        </li>
        <li>
            <a class="flex justify-center items-center gap-1.5 text-sm font-light">
                <img class="w-5" src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/a782830483d4__creditcard.png">
                Até 6x <br> sem juros
            </a>
        </li>
        <li>
            <a class="flex justify-center items-center gap-1.5 text-sm font-light">
                <img class="w-5" src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/32f032c8cd7a1__sale.png">
                Melhores <br> preços
            </a>
        </li>
        <li>
            <a class="flex justify-center items-center gap-1.5 text-sm font-light">
                <img class="w-5" src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/1f85c5c0c2c4f__tag.png">
                Melhores <br> marcas
            </a>
        </li>
        <li>
            <a class="flex justify-center items-center gap-1.5 text-sm font-light">
                <img class="w-5" src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/22606fb753e45__box.png">
                Entrega <br> rápida
            </a>
        </li>
        <li>
            <a class="flex justify-center items-center gap-1.5 text-sm font-light">
                <img class="w-5" src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/1e3b02903cd00__eco.png">
                Moda <br> sustentável
            </a>
        </li>
    </ul>
</div>