<div class="max-w-[74rem] mx-auto my-20">
    <div class="max-w-[12rem]">
        <p class="border-b border-black uppercase text-[1rem] font-bold">Sobre a dafiti</p>
    </div>
    
    <div class="border-t border-black text-center font-light py-5 text-sm">
        <p>Ser smart é respirar moda e tecnologia e disso a Dafiti entende: somos o maior e-commerce de moda e lifestyle da América Latina, com mais de 5 anos de existência, plataforma universal mobile (sim, você pode acessar por tablets e smartphones IOS e Android! \o/) e filiais na Argentina, Chile e Colômbia.</p>
        <br>
        <p>Na sua smartfashion você encontra tudo o que precisa com poucos cliques, sem julgamentos e ainda recebe rapidinho em todo o Brasil! Só no país são mais de mil marcas e 110 mil produtos divididos em seis categorias: roupas, sapatos, acessórios, beleza, cama/mesa/banho e decoração.</p>
        <br>
        <p>Antes de comprar, fique por dentro de algumas dicas: nossos estoques são limitados e, em caso de divergência, o que vale é o preço da sacola; os valores podem ser alterados sem aviso prévio e as cores podem variar de acordo com as configurações do seu monitor. Tudo certo? Então venha pra Dafiti. Sua smartfashion.</p>
    </div>
    
</div>
