<div class="border py-3">
    <ul class="flex justify-center items-center gap-28">
        <li><a class="text-[1rem] font-light cursor-pointer uppercase hover:underline">Feminino</a></li>
        <li><a class="text-[1rem] font-light cursor-pointer uppercase hover:underline">Masculino</a></li>
        <li><a class="text-[1rem] font-light cursor-pointer uppercase hover:underline">Infantil</a></li>
        <li><a class="text-[1rem] font-light cursor-pointer uppercase hover:underline">Casa</a></li>
        <li><a class="text-[1rem] font-light cursor-pointer uppercase hover:underline">Marcas</a></li>
        <li><a class="text-[1rem] font-light cursor-pointer uppercase hover:underline">Outlet</a></li>
        <li><a class="text-[1rem] font-light cursor-pointer uppercase hover:underline">Dafiti Eco</a></li>
        <li><a class="text-[1rem] font-light cursor-pointer uppercase hover:underline">Premium</a></li>
    </ul>
</div>
