<div class="max-w-[74rem] mx-auto my-20">
    <div class="max-w-[12rem]">
        <p class="border-b border-black uppercase text-[1rem] font-bold">Marcas que amamos</p>
    </div>
    
    <ul class="flex gap-24 pt-5 border-t border-black">
        <li><a><img src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/21884de09318e__adidas-1.png"></a></li>
        <li><a><img src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/3093dffd24d75__2273-oakley-lancamentohadeseatenas_marcaqueamamosmobile_dafiti_all_nd_v_2.png"></a></li>
        <li><a><img src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/38183c21f7c96__nike-1.png"></a></li>
        <li><a><img src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/10c601097ce93__lanca_perfume-1.png"></a></li>
        <li><a><img src="https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/333f96ab1a06b__vans-1.png"></a></li>
    </ul>
    
</div>
